/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.image-links {
    text-align: center;
}

.image-links a {
    display: inline-block;
    margin: 10px; /* İstenilen boşluk değeri */
}

.image-links a img {
    max-width: 100%;
    height: auto;
}

